@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210, 17%, 98%; /*#F8F9FA*/
    --primary: 249, 69%, 51%; /*#462CD9*/
    --primary-hover: 249, 69%, 41%; /*#3620B1*/
  }
}